JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRATION=30m
JWT_REFRESH_TOKEN_EXPIRATION=14d

MYSQL_ROOT_PASSWORD=root_password
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_HOST_PORT=3306
MYSQL_DATABASE=tour
MYSQL_USER=tour
MYSQL_PASSWORD=tour_password

DEV_AUTH_ENABLED=true